@page "{id}"
@model Shop2City.Web.Pages.Admin.Factors.ShowFactorDetailModel
@{
    int i=1;
}



<div class="row">
    <div class="col-lg-12">
        <div class="card-box">

            <table class="table table-striped" id="review">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>نام محصول</th>
                        <td>شماره فاکتور</td>
                        <th>قیمت کل فاکتور</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.GetAllOrderDetails)
                    {
                        <tr>
                            <td>@i</td>
                            <td>@item.Product.Title</td>
                            <td>@item.FactorId</td>
                            <td> @item.Price.ToString("#,0 ریال")</td>
                        </tr>
                        i++;

                    }
                   
                </tbody>

            </table>
        </div>
    </div>
</div>