@page "{id}"
@model Shop2City.Web.Pages.Admin.Orders.ShowOrderDetailModel
<div class="row">
    <div class="col-lg-12">
        <div class="card-box">



            <table class="responsive-table table-striped">
                <thead>
                    <tr>
                        <th>نام محصول</th>
                        <th>قیمت</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.GetAllOrderDetails)
                    {
                        <tr>
                            <td>@item.ProductSelectedCalculation.Calculation.Name</td>
                            <td>@item.Cost.ToString("#,0 ریال")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>