@model Shop2City.DataLayer.Entities.Transactions.TransactionModel

@{

}
<h2>جزییات پرداخت</h2>
<table border="1" cellpadding="5" cellspacing="0" style="border-collapse: collapse; width: 100%;">
    <tr>
    <tr>
        <th style="text-align: left; width: 30%;">‌</th>
        <td>@Model.RespMsg</td>
    </tr>
</table>
