@{ 
    ViewData["Title"] = "تماس با ما";
}
<div class="container">
    <ul class="breadcrumb">
        <li><a  asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i></a></li>
        <li><a class="active">تماس با ما</a></li>
    </ul>
    <div class="row">
    <div id="content" class="col-sm-12">
        <div id="content" class="col-sm-12">
            <h1 class="title">تماس با ما</h1>
            <h3 class="subtitle">محل ما</h3>
            <div class="row">
                <div class="col-sm-6"><strong>فروشگاه ماد وین</strong><br />
                    <address>
                        همدان - میدان امام حسین - ابتدای 24 متری صنعت
                    </address>
                </div>
                <div class="col-sm-6"><strong>شماره تلفن</strong><br>
                    09180580270
                </div>
            </div>
        </div>
    </div>
</div>
</div>