@{
    ViewData["Title"] = "خانه";
}

<main>
    <div class="container">
        <section>
            <h5 class="position-relative d-inline-block pb-2 mb-3">
                    پرده توری یک لایه
                    <span class="position-absolute start-0 bottom-0 w-100 border-bottom border-2 border-danger"></span>
                </h5>
            @await Component.InvokeAsync("CategoryTooriOneLayerComponent")
        </section>
                <section>
                   <h5 class="position-relative d-inline-block pb-2 mb-3">
                    پرده توری دو لایه
                    <span class="position-absolute start-0 bottom-0 w-100 border-bottom border-2 border-danger"></span>
                </h5>
            @await Component.InvokeAsync("CategoryTooriTwoLayerComponent")
        </section>
                <section>
                   <h5 class="position-relative d-inline-block pb-2 mb-3">
                    پرده طلقی ایرانی
                    <span class="position-absolute start-0 bottom-0 w-100 border-bottom border-2 border-danger"></span>
                </h5>
            @await Component.InvokeAsync("CategoryIraniComponent")
        </section>
                <section>
                   <h5 class="position-relative d-inline-block pb-2 mb-3">
                    پرده طلقی خارجی
                    <span class="position-absolute start-0 bottom-0 w-100 border-bottom border-2 border-danger"></span>
                </h5>
            @await Component.InvokeAsync("CategoryKharejiComponent")
            Khareji
        </section>
    </div>
</main>