@using System.Security.Claims
@using MadWin.Application.Services
@using MadWin.Core.DTOs.Account
@using Shop2City.Core.Convertors
@using Shop2City.Core.Services.Permissions
@using Shop2City.Core.Services.UserPanel
@inject IUserPanelService UserPanelService
@inject IPermissionService PermissionService
@inject IFactorService FactorService
@inject IOrderService OrderService

@{
    int userId = 0;
    SideBarUserPanelViewModel user = null;

    if (int.TryParse(User.FindFirstValue(ClaimTypes.NameIdentifier), out userId) && userId > 0)
    {
        user = await UserPanelService.GetSideBarUserPanelDataAsync(userId);
    }
}

<aside id="column-right" class="col-sm-3">
    <div class="list-group">
        @if (user != null)
        {
            <p class="text-center">عضویت : @user.registerDate.ToShamsi()</p>
            <p class="text-center">@user.fullName</p>
        }
        else
        {
            <p class="text-center text-danger">کاربر یافت نشد</p>
        }

        <hr />
        <h3 class="subtitle">داشبورد</h3>

        @if (await PermissionService.CheckPermissionAsync(1, userId))
        {
            <ul class="list-item">
                <li><a href="/Home/Index"><span class="text-danger">بازگشت به صفحه اصلی (فروشگاهی)</span></a></li>
                <li><a href="/Admin/Index"> مدیریت سایت </a></li>
                <li><a asp-controller="Account" asp-action="Logout">خروج از حساب کاربری</a></li>
            </ul>
        }
        else
        {
            <ul class="list-item">
                <li>
                    <span> مشاهده فاکتورها</span>
                    <ul>
                        <li>
                            @* /UserPanel/Factors/FactorForUser?isfinaly=true *@
                            <a href="#">
                                فاکتورهای پرداخت شده &nbsp;
                                <span class="badge rounded-pill btn-success">
                                    @* @await FactorService.GetCountFactorIsFinaly(userId) *@
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <span> مشاهده سفارش ها</span>
                    <ul>
                        <li>
                            <a asp-action="ShowOrderForUser" asp-controller="Orders" asp-area="UserPanel">
                                سفارش های پرداخت شده &nbsp;
                                <span class="badge rounded-pill btn-success">
                                   @*  @await OrderService.GetCountOrderIsFinaly(userId) *@
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li><a asp-controller="Account" asp-action="Logout">خروج از حساب کاربری</a></li>
            </ul>
        }
    </div>
</aside>
