<footer class="bg-primary text-white py-5 px-5 mt-auto">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <h5 class="position-relative text-info d-inline-block pb-2 mb-3">
                    ماد وین
                    <span class="position-absolute start-0 bottom-0 w-100 border-bottom border-2 border-danger"></span>
                </h5>
                <p class="small">
                    فروشگاه ماد وین عرضه‌کننده انواع پرده‌های توری و طلقی آماده در طرح‌ها و اندازه‌های متنوع.
                    هدف ما زیبایی، دوام و رضایت مشتری در کنار ارائه محصولاتی باکیفیت است.
                </p>
            </div>

            <div class="col-4">
                <h5 class="position-relative text-info d-inline-block pb-2 mb-3">
                    آدرس تماس
                    <span class="position-absolute start-0 bottom-0 w-100 border-bottom border-2 border-danger"></span>
                </h5>
                <ul class="list-unstyled">
                    <li><i class="fa fa-map-marker p-2"></i>همدان - میدان امام حسین - ابتدای 24 متری صنعت</li>
                    <li><i class="fa fa-mobile-phone p-2"></i>09180580270</li>
                </ul>
            </div>

            <div class="col-2">
                <h5 class="position-relative text-info d-inline-block pb-2 mb-3">
                    ساعات کاری
                    <span class="position-absolute start-0 bottom-0 w-100 border-bottom border-2 border-danger"></span>
                </h5>
                <ul class="list-unstyled">
                    <li><i class="fa fa-calendar p-2"></i>شنبه تا پنج‌شنبه</li>
                    <li><i class="fa fa-clock p-2"></i>صبح : 8:30 - 12:30</li>
                    <li><i class="fa fa-clock p-2"></i>عصر : 16 - 19</li>
                </ul>
            </div>

            <div class="col-2">
                <h5 class="position-relative text-info d-inline-block pb-2 mb-3">
                    لینک‌های مفید
                    <span class="position-absolute start-0 bottom-0 w-100 border-bottom border-2 border-danger"></span>
                </h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white text-decoration-none">ثبت نام</a></li>
                    <li><a href="#" class="text-white text-decoration-none">ورود</a></li>
                </ul>
            </div>

            <div class="col-1">
@*                 <a referrerpolicy="origin" target="_blank" href="https://trustseal.enamad.ir/?id=513249&Code=tjxZUkhn6QYgrK4lgsMhFDlewld5dRER">
                    <img src="https://trustseal.enamad.ir/logo.aspx?id=513249&Code=tjxZUkhn6QYgrK4lgsMhFDlewld5dRER" alt="اینماد" style="cursor:pointer">
                </a> *@
            </div>
        </div>
    </div>

    <div class="bg-dark text-center text-white py-3 mt-4 w-100 fixed-bottom">
        © 2025 - تمامی حقوق معنوی مربط به فروشگاه اینترنتی ماد وین است..
    </div>
</footer>
