<div class="col-table-cell col-lg-6 col-md-6 col-sm-12 col-xs-12 inner">
    <div id="logo">
        <a asp-controller="Home" asp-action="Index">
            فروشگاه ماد وین
       @*  <img class="img-responsive" src="#" title="فروشگاه پناه پلاست" alt="فروشگاه پناه پلاست" /> *@
        </a>
        </div>
</div>