<div class="col-table-cell col-lg-3 col-md-3 col-sm-6 col-xs-12">
<div id="cart">
    <a href="/ShoppingCart/ShowCart" class="btn heading dropdown-toggle">
        <span class="cart-icon pull-left flip"></span>
            <span id="cart-total">0</span> کالا -   @*cart-total*@
            <span id="Price-total">0</span>ریال @*Price-total*@
    </a>
</div>
    <div id="result"></div>

</div>