<div class="col-table-cell col-lg-3 col-md-3 col-sm-6 col-xs-12">
    @if (User.Identity.IsAuthenticated)
    {
        
    }
    else
    {
        <a asp-controller="Account" asp-action="Login" target="_blank"><img src="~/images/ordering/Order.jpg" alt="سفارش دلخواه" title="سفارش دلخواه" /></a>
    }

@*     <div id="search" class="input-group">
        <form action="/Products" method="get">
            <input type="text" name="filterProductTitleFa" placeholder="جستجو" class="form-control input-lg" id="autFilter"/>
            <button class="button-search"><i class="fa fa-search"></i></button>
        </form>
    </div> *@
    
</div>
